scale:hover{
     transform: scale(1.5);
}
.bi-instagram{
    color: brown;
}
.bi-youtube{
    color:red;
}
.bi-github{
    color:black;
}
.pricing-card {
      border: 1px solid #dee2e6;
      border-radius: 15px;
      transition: 0.3s;
    }
    .pricing-card:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    }
    .price {
      font-size: 2rem;
      font-weight: bold;
    }
    .features li::before {
      content: "✔️ ";
      color: green;
    }
    .number{
        margin: 0px 0px 20px;
        padding: 16px;
    }
    element.style {
}
    .rating-stars i{
    color: #ffc107;
    font-size: 12px;
    }
    .overlay-content{
        padding-left: 30px;
    }
    .stat{
        background-color:rgb(190, 188, 188);
    }